html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Sigmar One", cursive;
  text-align: center;
  color: #000;
  margin: .3em;
}

body {
  background-color: #fff;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

header {
  background-color: #ffe500;
}
